# Storage key used for password hash in chrome.storage.local.
PASSWORD_STORAGE_KEY=optionsPassword
# Storage key used for password salt in chrome.storage.local.
PASSWORD_SALT_STORAGE_KEY=optionsPasswordSalt
